
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/jwt/*.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env

/frontend/node_modules/
/frontend/dist/
